*{
    margin: 0;
    padding: 0;
    font-family: "Noto Kufi Arabic", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;

}

body{
    background-color: #000000;
  
    font-family: "Noto Kufi Arabic", sans-serif;}
    
nav{
    background-color: #121124;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: fixed;
    width: 100%;
}
.nav-type {
    width: 100%;
}
.nav-type a {
    cursor: pointer;
text-decoration: none;
color: white;
padding: 5px 10px;
border-radius: 10px;
margin-right: 2vh;
font-family: "Noto Kufi Arabic", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
transition: 0.5s;
 
}

.nav-type a:hover {
    background-color: white;
    color: #121124;
}
.home{
    padding-top: 10vh;
    padding-bottom: 10vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home img{
    width: 20rem;
    border-radius: 0000px;
    margin-left: 5vh;
}

.home-type {
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 10px;
}

.home-type h1,h3{
    color: white;
   font-size: 40px;
}

.Services{
    
    padding-top: 5vh;
    color: #121124;
    text-align: center;
   padding-bottom: 10vh;
}
.Services h1{
   text-align: center;
   margin-top: 5vh;
   color: white;
   padding: 0 2vh;
   display: inline-block;  
   border-radius: 10px;
}
.Services-a{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}
.Services-a a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    margin-bottom: 2vh;
}
.Services-a h3 {
    color: #ffffff;
    font-size: 20px;
text-align: center;
 border: #121124 2px solid;
    padding: 30px 50px;
    border-radius: 10px;
    transition: 0.5s;
}
.Services-a h3:hover {
    box-shadow: #121124 5px 10px 50px
    ;
    border:     #121124 2px solid;
    color: white;
}

.Services img{
    width: 15rem;
    border-radius: 10px;
    margin-top: 1vh;
    border: 2px solid #121124;
}
.Offers{
    text-align: center;
}
.Offers h1{
    text-align: center;
   
    color: white;
    padding: 0 2vh;
    display: inline-block;  
    border-radius: 10px;
    margin-bottom: 5vh;
 }
  .Prices{
    gap: 5vh;
   
  }
 .Prices img {
    width: 10rem;
 }
 .Prices-type {
    margin-top: 2vh;
    
 }
 .Prices-type img {
    width: 3rem;
 }
 .Prices-type a {
   font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    transition: 0.5s;
    
 }
 .egypt{
    margin-bottom: 5vh;
    color: white;
    border: #121124 2px solid;
    padding: 50px 10px;

 }
 .egypt:hover{
    box-shadow: #121124 20px 10px 50px;
    border: #121124 2px solid;
 }

 .Prices-type  a:hover {
    background-color: #121124;
        color: white;
    }

.vido video {
width:30rem;
}
.home1{
    color: white;
}

    .home1 img {
        width: 10rem;
        margin-top: 10vh;
        margin-bottom: 2vh;
    
    }
    .footer-area {
        display: flex;
        justify-content: space-around;
        align-items: start;
        background-color: #121124;
        color: #ffffff;
        padding: 5vh 0;
    }
   .logo img {
width: 15rem;
border-radius: 10px;
   }

   .sochial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .sochial i{
    width: 2vh;
    font-size: 20px ;
    color: #ffffff;
    margin-top: 3vh;
   }
   .padge a {
 
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   }
   .footer-area2{
    background-color: #121124;
    color: #ffffff;
   }
    @media (max-width:390px) {

        nav{
            display: flex;
            justify-content: space-around;
    align-items: center;
        }
        .nav-type {
            padding-left: 1vh;
            padding-right: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
    align-items: center;
        }
        .nav-type a{
            margin-left: 0vh;
           
            padding: 5px 5px;
        }
       
        .home{
            padding-top: 10vh;
            padding-bottom: 10vh;
       
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        .home-type{
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home img{
            width: 10rem;
            border-radius: 10px;
          margin-left: 0;
        
        }
        .home-type h1,h3{
            margin-top: 3vh;
            color: white;
           font-size: 20px;
        
           
        }
        .Services-a{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
        }
        .Services img{
            width: 10rem;
            border-radius: 10px;
            margin-bottom: 5vh;
        }
       
         .Prices{
            margin-left: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
         }
         .egypt{
            width: 70%;
         }
    
       
       
            .footer-area {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: end;
                background-color: #121124;
                color: #ffffff;
                padding: 5vh 0;
            }

            .logo img {
                width: 15rem;
                border-radius: 10px;
                margin-bottom: 3vh;
                   }
                
                   .sochial {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   }
                   .sochial i{
                    width: 2vh;
                    font-size: 20px ;
                    color: #ffffff;
                    margin-top: 1vh;
                    margin-bottom: 3vh;
                    margin-left: 2vh
                   }
                   .padge a {
                 
                    cursor: pointer;
                    text-decoration: none;
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-family: "Noto Kufi Arabic", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: weight;
                    font-style: normal;
                   }
                   .footer-area2{
                    background-color: #121124;
                    color: #ffffff;
                   }
    
    }
    
    @media (max-width:344px) {

    
        .nav-type {
            padding-left: 1vh;
            padding-right: 1vh;
            width: 50%;
            display: flex;
            align-items: center;
        }
        .nav-type a{
            margin-right: 1vh;
            padding: 5px 5px;
        }
       
        .home{
            padding-top: 10vh;
            padding-bottom: 10vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        .home-type{
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home img{
            width: 10rem;
            border-radius: 10px;
          margin-left: 0;
        }
        .home-type h1,h3{
            margin-top: 3vh;
            color: white;
           font-size: 20px;
        
           
        }
        .Services-a{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
        }
        .Services img{
            width: 10rem;
            border-radius: 10px;
            margin-bottom: 5vh;
        }
        .egypt img {
            width: 10rem;
         }
         .Prices-type img {
            width: 3rem;
            margin-left: 2vh;
            margin-right: 3vh;
    
         }
    
    }
    @media (max-width:360px) {

     
        .nav-type {
            padding-left: 1vh;
            padding-right: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
    align-items: center;
        }
        .nav-type a{
            margin-left: 0vh;
           
            padding: 5px 5px;
        }
       
        .home{
            padding-top: 10vh;
            padding-bottom: 10vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        .home-type{
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home img{
            width: 10rem;
            border-radius: 10px;
          margin-left: 0;
        }
        .home-type h1,h3{
            margin-top: 3vh;
            color: white;
           font-size: 20px;
        
           
        }
        .Services-a{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
        }
        .Services img{
            width: 10rem;
            border-radius: 10px;
            margin-bottom: 5vh;
        }
        .egypt img {
            width: 10rem;
         }
         .Prices-type img {
            width: 3rem;
            margin-left: 2vh;
            margin-right: 3vh;
    
         }
    
    }
    
    @media (max-width:414px) {
        nav{
    width: 100%;
            display: flex;
            justify-content: space-around;
    align-items: center;
        }
    
        .nav-type {
            padding-left: 1vh;
            padding-right: 1vh;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .nav-type a{
            margin-left: 0vh;
            padding: 5px 5px;
        }
       
        .home{
            padding-top: 10vh;
            padding-bottom: 10vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        .home-type{
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home img{
            width: 10rem;
            border-radius: 10px;
          margin-left: 0;
        }
        .home-type h1,h3{
            margin-top: 3vh;
            color: white;
           font-size: 20px;
        
           
        }
        .Services-a{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
        }
        .Services img{
            width: 10rem;
            border-radius: 10px;
            margin-bottom: 5vh;
        }
         .Prices{
            margin-left: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
         }
 .egypt{
            width: 70%;
         }
       
         .footer-area {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            background-color: #121124;
            color: #ffffff;
            padding: 5vh 0;
        }

        .logo img {
            width: 15rem;
            border-radius: 10px;
               }
            
               .sochial {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               }
               .sochial i{
                width: 2vh;
                font-size: 20px ;
                color: #ffffff;
                margin-top: 1vh;
                margin-bottom: 3vh;
                margin-left: 2vh
               }
               .padge a {
             
                cursor: pointer;
                text-decoration: none;
                color: #ffffff;
                padding: 10px 20px;
                border-radius: 10px;
                font-family: "Noto Kufi Arabic", sans-serif;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
               }
               .footer-area2{
                background-color: #121124;
                color: #ffffff;
               }
            
        }
     
       



@media (max-width:414px) {
    nav{
width: 100%;
        display: flex;
        justify-content: space-around;
align-items: center;
    }

    .nav-type {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .nav-type a{
        margin-left: 0vh;
        padding: 5px 5px;
    }
   
    .home{
        padding-top: 10vh;
        padding-bottom: 10vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .home-type{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home img{
        width: 10rem;
        border-radius: 10px;
      margin-left: 0;
    }
    .home-type h1,h3{
        margin-top: 3vh;
        color: white;
       font-size: 20px;
    
       
    }
    .Services-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
    }
    .Services img{
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 5vh;
    }
    .egypt img {
        width: 10rem;
     }
     .Prices-type img {
        width: 3rem;
        margin-left: 2vh;
        margin-right: 3vh;

     }

     .footer-area {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        background-color: #121124;
        color: #ffffff;
        padding: 5vh 0;
    }

    .logo img {
        width: 15rem;
        border-radius: 10px;
           }
        
           .sochial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           }
           .sochial i{
            width: 2vh;
            font-size: 20px ;
            color: #ffffff;
            margin-top: 1vh;
            margin-bottom: 3vh;
            margin-left: 2vh
           }
           .padge a {
         
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: "Noto Kufi Arabic", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
           }
           .footer-area2{
            background-color: #121124;
            color: #ffffff;
           }
}

@media (max-width:430px) {
    nav{
        display: flex;
        justify-content: space-around;
align-items: center;
    }

    .nav-type {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 50%;
        display: flex;
        align-items: center;
    }
    .nav-type a{
        margin-left: 0vh;
       
        padding: 5px 5px;
    }
   
    .home{
        padding-top: 10vh;
        padding-bottom: 10vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .home-type{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home img{
        width: 10rem;
        border-radius: 10px;
      margin-left: 0;
    }
    .home-type h1,h3{
        margin-top: 3vh;
        color: white;
       font-size: 20px;
    
       
    }
    .Services-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
    }
    .Services img{
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 5vh;
    }
            .Prices{
            margin-left: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
         }
 .egypt{
            width: 70%;
         }

  
     .footer-area {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        background-color: #121124;
        color: #ffffff;
        padding: 5vh 0;
    }

    .logo img {
        width: 15rem;
        border-radius: 10px;
           }
        
           .sochial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           }
           .sochial i{
            width: 2vh;
            font-size: 20px ;
            color: #ffffff;
            margin-top: 1vh;
            margin-bottom: 3vh;
            margin-left: 2vh
           }
           .padge a {
         
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: "Noto Kufi Arabic", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
           }
           .footer-area2{
            background-color: #121124;
            color: #ffffff;
           }
}

@media (max-width:540px){

.footer-area {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #121124;
    color: #ffffff;
    padding: 5vh 0;
}

.logo img {
    width: 15rem;
    border-radius: 10px;
       }
    
       .sochial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .sochial i{
        width: 2vh;
        font-size: 20px ;
        color: #ffffff;
        margin-top: 1vh;
        margin-bottom: 3vh;
        margin-left: 2vh
       }
       .padge a {
     
        cursor: pointer;
        text-decoration: none;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
       }
       .footer-area2{
        background-color: #121124;
        color: #ffffff;
       }

                .Prices{
            margin-left: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
         }
 .egypt{
            width: 70%;
         }

    }

@media (max-width:768px) {

    .nav-type {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 50%;
        display: flex;
        align-items: center;
    }
    .nav-type a{
        margin-left: 0vh;
       
        padding: 5px 5px;
    }
   
    .home{
        padding-top: 10vh;
        padding-bottom: 10vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .home-type{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home img{
        width: 10rem;
        border-radius: 10px;
      margin-left: 0;
    }
    .home-type h1,h3{
        margin-top: 3vh;
        color: white;
       font-size: 20px;
    
       
    }
    .Services-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
    }
    .Services img{
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 5vh;
    }
    .egypt img {
        width: 10rem;
     }
     .Prices-type img {
        width: 3rem;
        margin-left: 2vh;
        margin-right: 3vh;

     }

}

@media (max-width:820px) {

    .nav-type {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 50%;
        display: flex;
        align-items: center;
    }
    .nav-type a{
        margin-left: 0vh;
       
        padding: 5px 5px;
    }
   
    .home{
        padding-top: 10vh;
        padding-bottom: 10vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .home-type{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home img{
        width: 10rem;
        border-radius: 10px;
      margin-left: 0;
    }
    .home-type h1,h3{
        margin-top: 3vh;
        color: white;
       font-size: 20px;
    
       
    }
    .Services-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
    }
    .Services img{
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 5vh;
    }
    .egypt img {
        width: 10rem;
     }
     .Prices-type img {
        width: 3rem;
        margin-left: 2vh;
        margin-right: 3vh;

     }



}

@media (max-width:1024px) {

    .nav-type {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 50%;
        display: flex;
       justify-content: center;
        align-items: center;
    }
    .nav-type a{
        margin-left: 0vh;
       
        padding: 5px 5px;
    }
   
    .home{
        padding-top: 10vh;
        padding-bottom: 10vh;
     display: flex;
 flex-direction: column;
     justify-content: space-around;
     align-items: center;
    }
    .home-type{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home img{
        width: 10rem;
        border-radius: 10px;
      margin-left: 0;
    }
    .home-type h1,h3{
        margin-top: 3vh;
        color: white;
       font-size: 20px;
    
       
    }
    .Services-a{
        display: flex;
       
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
    }
    .Services img{
        width: 10rem;
        border-radius: 10px;
        margin-bottom: 5vh;
    }
    .egypt img {
        width: 10rem;
     }
     .Prices-type img {
        width: 3rem;
        
       

     }


     .footer-area {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #121124;
        color: #ffffff;
        padding: 5vh 0;
    }
    
    .logo img {
        width: 15rem;
        border-radius: 10px;
           }
        
           .sochial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           }
           .sochial i{
            width: 2vh;
            font-size: 20px ;
            color: #ffffff;
            margin-top: 1vh;
            margin-bottom: 3vh;
            margin-left: 2vh
           }
           .padge a {
         
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: "Noto Kufi Arabic", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
           }
           .footer-area2{
            background-color: #121124;
            color: #ffffff;
           }
    

}

  
